body {
    margin: 0;
    padding: 0;
    background-color: #8bdee4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #botao {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #8bdee4;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      padding: 10px;
    }
  }
  